@import './styles/default.css';
@import './styles/sidebar.css';
@import './styles/op.css';
@import './styles/table.css';

:root {
  --col-light: #ccc;
  --col-dark: #011230;
  --col-primary: #ffd700;
  --col-green: #09915d;
  --col-blue: #4949ec;
  --col-red: #f14c4c; 
}

*, *::after, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {  
  font-size: 62.5%;
}

body {
  font-family: 'Dongle', sans-serif;
  font-size: 1.6rem;
  height: 100vh;  
}

