@import './styles/default.css';
@import './styles/sidebar.css';

h1, h2 {
  font-family: 'Dongle' sans-serif;
}

#app {
  display: grid;
  grid-template-columns: minmax(30rem, 30vw) auto;
  grid-template-rows: 100vh;  
}
.left {
  background-color: red;
}
.right {
  background-color: yellow;
}