
#canvas {
  height: 100%;
  width: 100%;
  background-color: #fff;
  border: solid #ccc 1px;
  margin-right: 2rem;
}

.op {
  position: relative;
  top: 5rem;
  left: 5rem;
  width: 20rem;
  height: 6rem;
  padding: 2rem;
  /*border: solid 1px black;*/
  font-family: monospace;
  font-size: 1.5rem;
  text-align: center;
  background-image: radial-gradient(circle at center, #fff, #ccc);
  box-shadow: inset 0px 0px 5px 4px rgba(0, 0, 0, 0.245), 
                    0px 0px 0px 4px rgba(255, 255, 255, 0.404),
                    0px 0px 2px 4px rgba(75, 76, 75, 0.404)        
}

.cross {
  position: relative;
  top: 5rem;
  left: 15rem;
  width: 5px;
  height: 35px;
 background-image: linear-gradient(#ccc 45% , #fff 10% , #ccc 45% );
}
.cross::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 35px;
  height: 5px;  
  background-image: linear-gradient(#ccc 45% , #fff 10% , #ccc 45% );
  transform: translate(-50%, -50%);
}

.line {
  position: relative;
  width: 1px;
  height: 3rem;
  top: 5rem;
  left: 15rem;
  background-color: black;
}