#sidebar {
  padding-left: .5rem;
  border-right: solid 1px #ccc;
}
.sidebarTitle {
  font-size: 2.5rem;
  text-align: center;
}
.ups {
  list-style: none;
  height: 100%;
  margin: 0 2rem 0 2rem;
}
.up {
  padding: 1rem;
  font-size: 1.9rem;
  border: solid #fff 1px;
  background-color: #ccc;
  cursor: pointer;
}
.up::hover {
  background-color: rgba(204, 204, 204, 0.5);
}